.landing
  .container
    .row.text-center
      .jumbotron.front-title
        %h1 Welcome to SocialStuk
        %h3 A cool place for coders
        =link_to 'Signup', new_user_registration_path, class: 'btn btn-primary btn-lg'

