%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      =link_to 'SocialStuk', root_path, class: 'navbar-brand'
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search Friends...", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Search
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li= link_to 'Timeline', '#'
          %li= link_to 'People', '#'
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :role => "button", "data-target" => "#"}
              =gravatar_tag current_user.email, size: 20
              =current_user.username
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li{:role => "presentation"}=link_to 'Profile', user_path(current_user.username)
              %li{:role => "presentation"}=link_to 'Friends', '#'
              %li{:role => "presentation"}=link_to 'Settings', edit_user_registration_path
              %li.divider
                %li{:role => "presentation"}=link_to 'Logout', destroy_user_session_path, method: :delete
        -else
          %li= link_to 'Login', new_user_session_path